* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

:root {

    background-color: rgb(255, 255, 255);
    --second-color: #ffffff;
    --text-color: #ff0080;
    /*--second-color: #fffefe;*/
    --main-color: #f5284a;
    --big-font: 40px;
    --h2-font: 30px;
    --p-font: 23px;
}

body {

    color: var(--text-color);
}


li,
button,
h1,
h3,

p {
    font-family: 'Mulish', sans-serif;
    font-family: 'Raleway', sans-serif;

}

header {

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    --text-color: #fff;

    padding: 5px 30px;


    background-color: rgb(2, 2, 2);

    display: flex;
    flex-direction: row;

}


.navlist {

    display: flex;
    width: 220px;
    height: 77%;
}

.navlist a {
    color: var(--second-color);
    font-size: 50px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    flex-direction: row;
}


.navlist a:hover {

    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#logorihanna {
    width: 15%;
}

#logorihanna>img {
    width: 100%;
}



#logo {

    margin: 20;
    height: 100px;

}

#logo img {

    height: 100px;
    padding-left: 129px;

}


span {
    color: var(--main-color);

}

#main-nav {
    height: 200%;
    display: flex;
}


li.nav-item:hover {
    border-bottom: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#main-nav ul {
    height: 130%;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;

}


li.nav-item {
    border-bottom: 1px solid rgba(46, 60, 84, 0);
    transition: 0.5s;
    margin: 16px;
    align-items: center;
    color: #ffffff;
}


#logo {

    margin: 20;
    height: 100px;

}

#fondorihanna {

    height: 400px;
    padding-left: 20px;
    width: 600%;

}


.home {

    position: relative;
    height: 1200px;
    width: 100%;
    background-image: url(Imagenes/pantalla1.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;

}


#imagen1y2 {

    background-color: #fdfdfd;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;


}

.img-container {
    margin-top: -300px;
    height: fit-content;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    padding: 0 170px;
}

.imagen1 {
    width: 100%;
    height: 400px;

}

.imagen1 img {
    width: 100%;
    height: 80%;

}

p {
    margin-bottom: 16px;
}


#building-better {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

h2 {
    font-size: 27pt;
    margin-bottom: 60px;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.feature {
    width: 500px;
    margin: 0 79px;
    align-items: center;
}

.texts-container {
    display: flex;
    margin-bottom: 900px;
    align-items: center;

}

.sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 78px 0px;
    align-items: center;
}

.sobre img {

    height: 628px;
    width: 507px;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    width: 550px;
    align-items: center;
}

.sobre-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {

    width: 1130;
    max-width: 95%;
    margin: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

}

.btn {
    margin: 25px;
}

.title-text {
    font-weight: bold;
    font-size: 54px;
    color: #d10429;

}


.sobre-text h1 {

    color: #f5284a;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 15px;
}

.sobre-text h5 {

    color: #f5284a;
    font-size: 34px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 2px;

}

.title-text2 {
    align-items: center;
    font-weight: bold;
    font-size: 54px;
    color: #d10429;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
    
}

.title-text2 h1 {

    color: #f5284a;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 15px;


}

.main2 {

    display: flex;
    margin: 20px 30px;
    justify-content: space-between;


}

.buttons a {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: crimson;
    padding: -8rem 1.5rem 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer-item{

margin: 0 20px;

}

footer{
    background-color: crimson;
    padding: -8rem 1.5rem 6rem; 
    margin-top: 176px;
}

.redes{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 3.5rem;
}

